<!-- <app-board [player]="player"></app-board> -->
<section class="game-boards">
  <div class="player-board board">
    <span>Your Board</span>
    <app-board
      [player]="player"
      [isOpponent]="false"
      [gameStarted]="gameStarted"
      [sessionId]="sessionId"
    ></app-board>
  </div>
  <div
    *ngIf="gameStarted && opponent?.finishedSetup"
    class="opponent-board board"
  >
    <span>Opponent's Board</span>
    <app-board
      [player]="opponent"
      [isOpponent]="true"
      [gameStarted]="gameStarted"
      [sessionId]="sessionId"
    ></app-board>
  </div>
</section>
