<!-- <app-board [player]="player"></app-board> -->
<section class="game-boards">
  <div class="player-board board">
    <span>Your Board</span>
    <app-board
      [player]="player"
      [isOpponent]="false"
      [gameStarted]="gameStarted"
    ></app-board>
  </div>
  <div *ngIf="gameStarted" class="opponent-board board">
    <span>Opponent's Board</span>
    <app-board
      [player]="opponent"
      [isOpponent]="true"
      [gameStarted]="gameStarted"
    ></app-board>
  </div>
</section>
