<section class="battleship-grid">
  <table class="grid-table">
    <tbody>
      <tr>
        <td class="grid-cell"></td>
        <td class="grid-cell">1</td>
        <td class="grid-cell">2</td>
        <td class="grid-cell">3</td>
        <td class="grid-cell">4</td>
        <td class="grid-cell">5</td>
        <td class="grid-cell">6</td>
        <td class="grid-cell">7</td>
        <td class="grid-cell">8</td>
        <td class="grid-cell">9</td>
        <td class="grid-cell">10</td>
      </tr>
      <tr *ngFor="let row of rows; let rowIndex = index">
        <td class="grid-cell">{{ row }}</td>
        <td
          class="grid-cell"
          *ngFor="let cell of getRowCells(row)"
          [ngClass]="{
            ship: cell.occupied,
            hit: cell.hit,
            miss: cell.miss,
            isSelected: cell.isSelected,
            isDragging: isDragging && cell.highlighted,
            highlighted: cell.highlighted
          }"
          id="{{ cell.coordinates }}"
          (click)="onCellClick(cell)"
          (mousedown)="onMouseDown(cell)"
          (mouseenter)="onMouseEnter(cell)"
          (mouseup)="onMouseUp(cell)"
        ></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="staging-area">
  <button
    class="btn btn-custom"
    [ngClass]="{
      'btn-primary': !boardSetup.isFinishedSettingUp,
      'btn-success': boardSetup.isFinishedSettingUp
    }"
    (click)="toggleBoardSetup()"
  >
    {{
      !boardSetup.isSettingUp && !boardSetup.isFinishedSettingUp
        ? "Start Setup"
        : "Ready To Play"
    }}
  </button>
  <button class="btn btn-danger btn-custom" (click)="resetBoard()">
    Reset Board
  </button>
  <div *ngIf="!boardSetup.isFinishedSettingUp">
    <h2>Setup Your Ships</h2>
    <ul class="board-ul">
      <li *ngFor="let ship of shipsToSet" class="board-li">
        <span
          [ngClass]="{
            settingShip: ship === boardSetup.settingShip,
            hasBeenSet: hasShipBeenSet(ship)
          }"
          >{{ ship }}</span
        >
      </li>
    </ul>
  </div>
  <div class="instructions-area">
    <span class="instructions"
      >Click/press & drag on the grid to set your ship</span
    >
  </div>
</section>
