.battleship-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.grid-table {
  border-collapse: collapse;
}

.grid-cell {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
}

.isDragging {
  border: 5px solid green;
}

.empty {
  background-color: #fff;
}

.hit {
  background-color: #ff0000;
}

.miss {
  background-color: #00ffff;
}

.ship {
  background-color: #808080;
}

.cell.occupied {
  background-color: gray;
}

.cell.highlighted {
  background-color: lightblue;
}
