<section class="battleship-grid">
  <table class="grid-table">
    <tbody>
      <tr>
        <td class="grid-cell"></td>
        <td class="grid-cell">1</td>
        <td class="grid-cell">2</td>
        <td class="grid-cell">3</td>
        <td class="grid-cell">4</td>
        <td class="grid-cell">5</td>
        <td class="grid-cell">6</td>
        <td class="grid-cell">7</td>
        <td class="grid-cell">8</td>
        <td class="grid-cell">9</td>
        <td class="grid-cell">10</td>
      </tr>
      <tr *ngFor="let row of rows; let rowIndex = index">
        <td class="grid-cell">{{ row }}</td>
        <td
          class="grid-cell"
          *ngFor="let cell of getRowCells(row)"
          [ngClass]="{
            ship: cell.occupied,
            hit: cell.hit,
            miss: cell.miss,
            isDragging: isDragging && stagingLocation.includes(cell.coordinates)
          }"
          id="{{ cell.coordinates }}"
          (click)="onCellClick(cell)"
          [class.occupied]="cell.occupied"
          [class.highlighted]="cell.highlighted"
          (mousedown)="onMouseDown(cell)"
          (mouseenter)="onMouseEnter(cell)"
          (mouseup)="onMouseUp(cell)"
        ></td>
      </tr>
    </tbody>
  </table>
</section>

<section class="staging-area">
  <button (click)="toggleBoardSetup()">
    {{ !boardSetup.isSettingUp ? "Start Setup" : "Ready" }}
  </button>
  <!-- <app-ship
    [cells]="cells"
    [boardSetup]="boardSetup"
    [shipLocations]="shipLocations"
  ></app-ship> -->
  <div>
    <h2>Ships</h2>
    <ul>
      <li *ngFor="let ship of shipsToSet">
        <span>{{ ship === boardSetup.settingShip ? ship : "" }}</span>
      </li>
    </ul>
  </div>
</section>
