.battleship-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.grid-table {
  border-collapse: collapse;
}

.grid-cell {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
}

.board-ul {
  list-style-type: none;
  padding: 0;
  margin-left: 5px;
}

.settingShip {
  font-weight: 600;
  font-size: 1.1rem;
}

.hasBeenSet {
  text-decoration: line-through;
}

.isDragging {
  border: 5px solid green;
}

.isSelected {
  border: 5px solid blue;
}

.empty {
  background-color: #fff;
}

.hit {
  background-color: #ff0000;
}

.miss {
  background-color: #00ffff;
}

.ship {
  background-color: #808080;
}

.cell.occupied {
  background-color: gray;
}

.cell.highlighted {
  background-color: lightblue;
}
