<div class="modal-window">
  <div class="modal-inside">
    <div class="modal-header">
      <h3 class="modal-title"></h3>
      <button class="close-modal-btn" (click)="close()">X</button>
    </div>
    <div class="modal-body">
      <span class="modal-message">{{ modalMessage }}</span>
    </div>
    <div class="modal-footer">
      <ng-container *ngIf="!gameCompleted; else acknowledge">
        <button
          type="button"
          class="btn btn-sm btn-outline-success modal-action-btn"
          (click)="respond(true)"
        >
          Accept
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-danger modal-action-btn"
          (click)="respond(false)"
        >
          Decline
        </button>
      </ng-container>

      <ng-template #acknowledge>
        <button
          type="button"
          class="btn btn-sm btn-outline-success modal-action-btn"
          (click)="acknowledgeGameCompleted()"
        >
          Ok
        </button>
      </ng-template>
    </div>
  </div>
</div>
