.logo-section {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.registration-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.lobby-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.game-logo-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.game-logo {
  width: 100px;
}

.toggle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
