<app-nav (onLogout)="onLogout()"></app-nav>
<main class="main-home">
  <section class="logo-section">
    <div class="game-logo-wrapper">
      <img src="assets/images/ship-logo.jpg" alt="logo" class="game-logo" />
    </div>
  </section>

  <app-modal
    *ngIf="showModal"
    [modalMessage]="modalMessage"
    [beginSetupMode]="beginSetupMode"
    [gameCompleted]="gameCompleted"
    [gameEnded]="gameEnded"
    [requiresUserAction]="requiresUserAction"
    (onClose)="toggleShowModal()"
    (onChalleneResponse)="onResponseEvent($event)"
    (onStartBoardSetup)="onResponseEvent($event)"
    (onGameCompleted)="onGameCompletedEvent()"
  ></app-modal>

  <ng-container *ngIf="!isLoggedIn; else hasPlayer">
    <section class="registration-section" *ngIf="!showLogin && !showLobby">
      <app-reg-form (onReg)="onLoginOrRegEvent($event)"></app-reg-form>
      <ng-container *ngTemplateOutlet="toggleSection"></ng-container>
    </section>

    <section class="login-section" *ngIf="showLogin && !showLobby">
      <app-login (onLogin)="onLoginOrRegEvent($event)"></app-login>
      <ng-container *ngTemplateOutlet="toggleSection"></ng-container>
    </section>

    <ng-template #toggleSection>
      <section class="toggle-section">
        <div class="message-area">
          <p class="text-muted">
            {{ showLogin ? doesNotHaveAccountMessage : hasAccountMessage }}
          </p>
        </div>
        <button (click)="toggleShowLogin()" class="btn btn-warning">
          {{ showLogin ? "Register" : "Login" }}
        </button>
      </section>
    </ng-template>
  </ng-container>

  <ng-template #hasPlayer>
    <section class="lobby-section" *ngIf="showLobby">
      <app-lobby
        [player]="player"
        [activePlayers]="activePlayers"
        [opponent]="opponent"
        [showModal]="showModal"
        [modalMessage]="modalMessage"
      ></app-lobby>
      <button
        class="btn btn-outline-danger cancel-game-btn"
        (click)="resetToDefaultPlayer()"
      >
        Reset Player
      </button>
    </section>

    <section class="game-section" *ngIf="gameStarted && !showLobby">
      <section class="game-boards">
        <div class="player-board board">
          <span>Your Board</span>
          <app-board [isOpponent]="false"></app-board>
        </div>
        <div
          *ngIf="gameStarted && opponent?.finishedSetup && player.isReady"
          class="opponent-board board"
        >
          <span>Opponent's Board</span>
          <app-board [isOpponent]="true"></app-board>
        </div>
      </section>
      <div class="turn-indicator">
        <span>Your Turn: </span>
        <img
          [src]="
            player.isTurn
              ? 'assets/images/green-circle.png'
              : 'assets/images/red-circle.png'
          "
          alt="turn indicator"
          class="turn-icon"
        />
      </div>
      <div class="instructions-area" *ngIf="player.isReady && opponent.isReady">
        <span class="instructions-txt">
          {{ opponent.isReady ? gameInstructions : waitingInstructions }}
        </span>
      </div>
      <button
        class="btn btn-outline-danger cancel-game-btn"
        (click)="cancelGame()"
      >
        Cancel Game
      </button>
      <button
        *ngIf="gameEnded"
        class="btn btn-outline-danger cancel-game-btn"
        (click)="resetPlayer()"
      >
        Cancel Game
      </button>
      <button
        class="btn btn-outline-danger cancel-game-btn"
        (click)="resetToDefaultPlayer()"
      >
        Reset Player
      </button>
    </section>
  </ng-template>
</main>
