.lobby-area {
  display: flex;
  width: 100%;
}

.player-section {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.player-details {
  list-style: none;
}

.active-user-section {
  display: flex;
  width: 70%;
  border-left: solid 1px #000;
}

.active-users {
  list-style: none;
}
